<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - Smart Wallet</title>
  </head>

  <body>
    <h1>Welcome to Smart Wallet, {{ user[1] }}!</h1>
    <a href="{{ url_for('logout') }}">Logout</a>
    <main>
      <section>
        <h2>Your Smart Wallet</h2>
        <p>
          Manage your money, build better habits, and protect your future self.
        </p>
      </section>
      <section>
        <h2>Overview</h2>

        <div>
          <h3>Total Saved</h3>
          <p>₹0</p>
        </div>

        <div>
          <h3>Active Money Locks</h3>
          <p>0</p>
        </div>
      </section>
    </main>
  </body>
</html>
