<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Smart Wallet</title>
  </head>

  <body>
    <header>
      <h1>Smart Wallet</h1>
      <nav>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      </nav>
    </header>
    <main>
      <section>
        <h2>
          Protect future versions of yourself from today's impulsive decisions.
        </h2>

        <p>
          Lock money for what matters most—whether it's a vacation, your
          education, a new laptop, or simply peace of mind. Smart Wallet helps
          you protect your future without making managing money complicated.
        </p>

        <a href="/register" class="btn-primary">Get Started</a>

        <a href="#" class="btn-secondary">Learn More</a>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
